* {
  box-sizing: border-box;
}

@media (min-width: 800px) {
  .input-text {
    border: 1px solid;
    border-radius: 2px;
    padding: 5px;
    width: 75%;
    margin-top: 10px;
  }

}

@media (max-width: 800px) {
  .input-text {
    border: 2px solid;
    border-radius: 2px;
    padding: 5px;
    margin-top: 10px;
  }
  .row {
    flex-direction: column;
  }
}

.input-text-small {
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
  width: 60px;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 32px;
}

.column-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.column-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.column-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.column-25, .column-50, .column-75 {
  padding: 0 16px;
}

.checkout-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  padding: 3px 18px 13px 18px;
  border: 2px solid #0071bc;
  border-radius: 2px;
}

input [type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid red;
  border-radius: 3px;
}
